<header>
    <ul class="navbar">
        <li class="hname">Shivam Singh</li>
        <li class="habout">About</li>
        <li class="hskill">Skills</li>
        <li class="hexp">Experience</li>
        <li class="hcont">Contact</li>
        <li><a href="https://www.linkedin.com/in/shivam-singh-535269233/"><img class="linkdinlink" src="/images/linkdinimg.png" alt="LinkedIn Link"></a></li>
    </ul>
</header>
